* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --header-bg-color: #add8e6;
    --header-content-color: #daa520;
    --section1-bg-color: #00008b;
    --section1-content-color: #ee82ee;
    --section24-bg-color: white; 
    --section234-contentbig-color: #1e90ff;
    --section234-contentsmall-color: #ffc0cb;
    --section35-bg-color: #d3d3d3;
    --section5-content-color: #228b22;
    --footer-bg-color: black;
    --footer1-content1-color: #f08080;
    --footer1-content2-color: #20b2aa;
    --logo-button-color: #ffb6c1;
    --footer2-content-color: #7fffd4;
}

/* #region "debug"  */

.debug{
    border: 1px dashed red;
}

/* #endregion "deub" */

.header{
    background-color: var(--header-bg-color);
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.nav{
    display: flex;
    background-color: var(--header-content-color);
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.border{
    border: 2px dashed black;
}

.logo_login{
    width: 15%;
}

.link{
    width: 70%;
}

.small_section{
    height: 500px;
    display: flex;
    justify-content: center;
}

.big_section{
    height: 800px;
    display: flex;
    justify-content: center;
}

.section_1{
    background-color: var(--section1-bg-color);

}

#purple_box{
    height: 400px;
    width: 800px;
    background-color: var(--section1-content-color);
    margin-top: 40px;
}

.section_2{
    background-color: white;
}

#lightblue_box{
    background-color: var(--section234-contentbig-color);
    height: 400px;
    width: 700px;
    margin-top: 40px;
}

#pink_box{
    background-color: var(--section234-contentsmall-color);
    height: 400px;
    width: 400px;
    margin-top: 40px;
}

.section_3{
    background-color: var(--section35-bg-color)
}

.section_5{
    background-color: var(--section35-bg-color);
}

#green_box{
    background-color: var(--section5-content-color);
    height: 700px;
    width: 1100px;
    margin-top: 40px;
}